In [5]:
# Imports

# Data import and manipulation
import pandas as pd
# Math
import numpy as np
# Let's go ahead and seed the notebook, for reproducibility
np.random.seed(113)

# This library allows us to search for a zipcode and retrieve lat/long data
from uszipcode import SearchEngine

# And then this library will help fill in the gaps for any nulls
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

# And this will provide a progress bar
from tqdm import tqdm

In [6]:
# Specifying dtypes for faster input
dtypes = {
    "REPORTER_NAME": "object",
    "REPORTER_ZIP": "int64",
    "BUYER_NAME": "object",
    "BUYER_ZIP": "int64",
    "DRUG_NAME": "object",
    "TRANSACTION_DATE": "object",
    "DOSAGE_UNIT": "float64",
}

# Reading in only the columns related to the buyer's location
data = pd.read_csv("../data/arcos-tx-statewide-itemized.csv",
                   usecols=["REPORTER_NAME", "REPORTER_ZIP", "BUYER_NAME", 
                            "BUYER_ZIP", "DRUG_NAME", "TRANSACTION_DATE", 
                            "DOSAGE_UNIT"],
                   dtype=dtypes)

In [7]:
data.head()

,REPORTER_NAME,REPORTER_ZIP,BUYER_NAME,BUYER_ZIP,DRUG_NAME,TRANSACTION_DATE,DOSAGE_UNIT
0,APOTHECA INC,85006,SAFEGUARD RX,77045,HYDROCODONE,04042014,2000.0
1,APOTHECA INC,85006,"ASTRO PHARMACY, LLC",77055,HYDROCODONE,10032014,2000.0
2,APOTHECA INC,85006,A-PLUS PHARMACY,77036,HYDROCODONE,12052014,1000.0
3,APOTHECA INC,85006,BAMMEL MED RX,77066,HYDROCODONE,05232014,1500.0
4,APOTHECA INC,85006,BAMMEL MED RX,77066,HYDROCODONE,05022014,2000.0

In [8]:
data.shape
# (12108468, 7)

(15270974, 7)

In [9]:
# First, let's change the transaction date to a datetime object
# Need to fill in the empty leading zeros, for single-digit months
data["TRANSACTION_DATE"] = data["TRANSACTION_DATE"].str.zfill(8)

In [10]:
# And now, changing to datetime
data["TRANSACTION_DATE"] = pd.to_datetime(data["TRANSACTION_DATE"], 
                                          format='%m%d%Y')
data["TRANSACTION_DATE"].head()

0   2014-04-04
1   2014-10-03
2   2014-12-05
3   2014-05-23
4   2014-05-02
Name: TRANSACTION_DATE, dtype: datetime64[ns]

### Getting Zipcode Latitude/Longitude Data

In [11]:
# Finding all unique reporter zipcodes
reporter_zip_unique = data["REPORTER_ZIP"].unique()

In [17]:
reporter_zip_unique

array([85006, 11701, 31793, 43212, 24314, 11357, 29501, 70584, 38141,
       85353, 98204, 43619,  6051, 46714, 94587, 42141, 76104, 90065,
       31909, 18974, 72756, 86004, 46383, 14305, 60048, 77665, 74601,
       33331, 48083, 40109, 38655, 35769, 43125, 77478, 85009, 33179,
       60045, 76262, 92880, 33155, 28405, 28787, 84104, 73127, 78645,
        8054, 76155, 18640, 17022, 43204, 30093, 75708, 48185, 75119,
        7072, 77339, 77385, 77477, 71270, 90249, 58102, 38118, 92704,
       45240, 19116, 15701, 45246, 32174, 29607, 63043,   728, 18106,
       60056, 18031, 11779, 48150, 92126, 46268, 76051, 18964, 35811,
       73116, 89434, 60068, 85281, 78758, 17517, 43615, 78218, 32219,
       39110, 98005, 60641, 37311, 45249, 71201, 33126, 73179, 56001,
       80011, 53590, 37228, 54603, 43160, 40299, 78204, 13788, 77007,
       75050,  8816, 71115, 93291, 77303, 30336, 66111, 85260, 33186,
       92867, 91504,  8873, 74146, 68138, 74137, 64150, 46256, 92807,
       29169, 77505, 43123,  6032, 29016,  7094, 89431,  7035, 93618,
       50036, 42071, 11713, 48240, 55344, 35976, 85737, 71603, 92630,
       92071, 53218, 10509, 85043,  7652, 72450, 30501, 60191, 38133,
       30339, 78602, 70087, 31794, 18017, 93230, 77054, 95776, 73137,
       87121, 60031,  1434, 33478, 75167, 40067, 43551, 38018, 77080,
        2301, 93444, 95691, 63366, 65801, 30096, 57107, 10028, 23235,
       37086, 33327, 21045, 98032, 18976, 30076, 85040, 19454, 33805,
        6067, 17057, 90670, 85301, 91320, 63301, 92551, 92104, 45066,
       11763, 92688, 42133, 51250, 14624, 97062, 91405, 39232, 43528,
       16101, 43228, 80021, 76177,   982,  7052, 60502, 27893, 77041,
       11788, 28734, 97070, 34667, 60446, 73149, 58703, 85714, 50126,
       29407, 46075, 10451, 33777, 94901, 90501, 15239, 23233, 91006,
       83687, 91204])

In [12]:
# And then all unique buyer zipcodes
buyer_zip_unique = data["BUYER_ZIP"].unique()

In [18]:
buyer_zip_unique

array([77045, 77055, 77036, ..., 78655, 76097, 79118])

In [13]:
# And then combining the unique zipcodes into a list
all_zips = []
for r_zipc in reporter_zip_unique:
    all_zips.append(r_zipc)
for b_zipc in buyer_zip_unique:
    all_zips.append(b_zipc)

In [14]:
# Then making sure there are only unique zipcodes in our total list
unique_zips = set(all_zips)

In [15]:
# So we have 1375 total unique zipcodes in our dataset
len(unique_zips)

1400

In [16]:
unique_zips

{90249,
 65801,
 33126,
 33155,
 90501,
 74137,
 33179,
 33186,
 74146,
 90670,
 33327,
 33331,
 66111,
 8816,
 17022,
 17057,
 8873,
 33478,
 728,
 58102,
 74601,
 50036,
 91006,
 50126,
 982,
 33777,
 33805,
 91204,
 42071,
 17517,
 42133,
 42141,
 91320,
 75001,
 75002,
 75006,
 75007,
 75009,
 75010,
 75013,
 75019,
 75020,
 91405,
 75022,
 75023,
 75024,
 75025,
 75021,
 75028,
 75032,
 75033,
 75034,
 75035,
 75038,
 75039,
 75040,
 75041,
 75042,
 75043,
 75044,
 75048,
 75050,
 75051,
 75052,
 75056,
 75057,
 75060,
 75061,
 75062,
 75063,
 75065,
 75067,
 75068,
 75069,
 75070,
 75071,
 75074,
 75075,
 75076,
 75077,
 75078,
 75080,
 75081,
 75082,
 58703,
 75087,
 75088,
 75090,
 75089,
 75092,
 75093,
 75094,
 75098,
 75103,
 75104,
 75110,
 75114,
 75115,
 75116,
 75117,
 75119,
 91504,
 75125,
 75126,
 75137,
 75140,
 75142,
 75143,
 75144,
 75146,
 75147,
 75148,
 75149,
 75150,
 75154,
 75155,
 75156,
 75158,
 75159,
 75160,
 1434,
 75165,
 75167,
 75169,
 75180,
 75181,
 75182,
 75189,
 75201,
 75202,
 75203,
 75204,
 75205,
 75206,
 75207,
 75208,
 75209,
 75210,
 75211,
 75212,
 75214,
 75215,
 75216,
 75217,
 75218,
 75219,
 75220,
 75223,
 75224,
 75225,
 75226,
 75227,
 75228,
 75229,
 75230,
 75231,
 75232,
 75233,
 75234,
 75235,
 75236,
 75237,
 75238,
 75240,
 75241,
 75243,
 75244,
 75246,
 75247,
 75248,
 75249,
 75251,
 75252,
 75254,
 75262,
 75266,
 75287,
 18017,
 18031,
 75376,
 75382,
 75390,
 75401,
 75402,
 75407,
 75409,
 75411,
 75414,
 75417,
 75418,
 75426,
 75428,
 75432,
 75440,
 75442,
 75446,
 18106,
 75452,
 75454,
 75455,
 75456,
 75457,
 75460,
 75461,
 75462,
 75474,
 75482,
 75483,
 75491,
 75494,
 83687,
 75495,
 75497,
 75501,
 75503,
 75551,
 75559,
 75561,
 75563,
 10028,
 75568,
 75570,
 75601,
 75602,
 75603,
 75604,
 75605,
 75606,
 75608,
 34667,
 75633,
 75638,
 75644,
 75647,
 75650,
 75652,
 75654,
 75656,
 75657,
 75662,
 75668,
 75670,
 75681,
 75684,
 75686,
 92071,
 75691,
 75692,
 75693,
 75701,
 75702,
 75703,
 75704,
 75707,
 75708,
 75709,
 75712,
 92104,
 92126,
 75750,
 75751,
 75752,
 75757,
 75758,
 75762,
 75763,
 75765,
 75766,
 75770,
 75771,
 75773,
 75783,
 75785,
 75789,
 75790,
 75791,
 75801,
 51250,
 75831,
 75833,
 75835,
 75839,
 75840,
 75844,
 75845,
 75846,
 75860,
 75862,
 43123,
 43125,
 75901,
 75904,
 84104,
 75915,
 75925,
 43160,
 75935,
 75938,
 75939,
 75941,
 75948,
 75949,
 75951,
 75954,
 75956,
 75961,
 75964,
 75965,
 75966,
 75968,
 75969,
 43204,
 75972,
 75975,
 75979,
 43212,
 18640,
 10451,
 43228,
 76001,
 76002,
 76006,
 76008,
 76009,
 76010,
 76011,
 76012,
 76013,
 76014,
 76015,
 76016,
 76017,
 76018,
 76019,
 76020,
 76021,
 76022,
 76023,
 76028,
 2301,
 76031,
 76033,
 76034,
 76036,
 76039,
 76040,
 76043,
 10509,
 76048,
 76049,
 76051,
 76052,
 76053,
 76054,
 76058,
 76059,
 76060,
 76063,
 76065,
 76066,
 76067,
 76068,
 76073,
 76078,
 76082,
 76085,
 76086,
 76087,
 76088,
 76092,
 76097,
 76102,
 76103,
 76104,
 76105,
 76106,
 76107,
 76108,
 76109,
 76110,
 76111,
 76112,
 76114,
 76115,
 76116,
 76117,
 76118,
 76119,
 76120,
 76123,
 76126,
 76129,
 76131,
 76132,
 76133,
 76134,
 76135,
 76137,
 76140,
 76148,
 76155,
 76164,
 92551,
 76177,
 76179,
 76180,
 76182,
 76201,
 76203,
 76205,
 76207,
 76208,
 76209,
 76210,
 76225,
 76226,
 76227,
 76230,
 76234,
 76240,
 76241,
 76244,
 92630,
 76247,
 76248,
 76249,
 76252,
 76255,
 76258,
 76259,
 76262,
 76266,
 76272,
 76273,
 43528,
 76301,
 76302,
 92688,
 76305,
 76306,
 18964,
 76309,
 76310,
 76308,
 18974,
 43551,
 92704,
 18976,
 68138,
 76354,
 76360,
 76365,
 76366,
 76367,
 76371,
 76374,
 76380,
 43615,
 76384,
 43619,
 76401,
 60031,
 92807,
 76424,
 76426,
 60045,
 76430,
 60048,
 76437,
 60056,
 76442,
 76443,
 76444,
 76446,
 76448,
 77067,
 76450,
 60068,
 76454,
 76457,
 76458,
 19116,
 76470,
 76471,
 92867,
 76483,
 76487,
 92880,
 76501,
 76502,
 76504,
 76508,
 76513,
 76520,
 76522,
 76524,
 76527,
 76528,
 76530,
 76531,
 76539,
 76541,
 76542,
 76543,
 76544,
 76548,
 76549,
 76550,
 76557,
 76567,
 76570,
 76571,
 76574,
 60191,
 76622,
 76629,
 76633,
 76634,
 76642,
 76643,
 76645,
 76648,
 76651,
 76655,
 76657,
 76661,
 76665,
 76667,
 76691,
 76692,
 76693,
 76705,
 76706,
 76707,
 76708,
 76710,
 76711,
 76712,
 35769,
 35811,
 19454,
 76801,
 76802,
 76804,
 85006,
 85009,
 76821,
 76823,
 76825,
 60446,
 76834,
 76837,
 76844,
 93230,
 85040,
 76849,
 85043,
 76856,
 76859,
 76877,
 76878,
 60502,
 11357,
 76901,
 76902,
 76903,
 76904,
 76905,
 93291,
 76932,
 76935,
 35976,
 76936,
 76943,
 76950,
 76951,
 77002,
 77003,
 77004,
 77005,
 77006,
 77007,
 77008,
 77009,
 77010,
 77011,
 77012,
 77013,
 77014,
 77015,
 77016,
 77017,
 77018,
 77019,
 77020,
 77021,
 77022,
 77023,
 77024,
 60641,
 77026,
 77025,
 77027,
 77028,
 77029,
 77031,
 77032,
 77033,
 77030,
 77034,
 77035,
 77036,
 77037,
 77038,
 77039,
 77040,
 77041,
 77042,
 77043,
 77044,
 77046,
 27893,
 77045,
 77048,
 77049,
 77051,
 77047,
 77053,
 77054,
 77055,
 77056,
 77057,
 77058,
 77059,
 93444,
 77061,
 77062,
 77063,
 77064,
 77065,
 77066,
 77060,
 77068,
 85260,
 77070,
 77069,
 77071,
 77072,
 77073,
 77074,
 77075,
 77076,
 77077,
 77078,
 77080,
 77081,
 77079,
 77083,
 77082,
 77085,
 77084,
 77086,
 77087,
 77088,
 85281,
 77091,
 77090,
 77089,
 77092,
 77093,
 77095,
 77096,
 77094,
 77098,
 77099,
 85301,
 85353,
 77204,
 77225,
 93618,
 11701,
 77238,
 11713,
 77289,
 11763,
 77301,
 77302,
 77303,
 77304,
 11779,
 77316,
 77318,
 77320,
 11788,
 77327,
 77328,
 77331,
 77336,
 77338,
 77339,
 77340,
 77345,
 77346,
 77347,
 77351,
 77353,
 77354,
 77355,
 77356,
 77357,
 77358,
 77360,
 77362,
 77363,
 77365,
 77371,
 77372,
 77373,
 77375,
 77377,
 77378,
 77379,
 77380,
 77381,
 77382,
 77384,
 77385,
 77386,
 77388,
 77389,
 77396,
 77401,
 77406,
 77407,
 77414,
 77418,
 77422,
 77423,
 77429,
 77433,
 77434,
 77435,
 77437,
 77441,
 77445,
 77446,
 77449,
 77450,
 77459,
 77461,
 77465,
 77469,
 77471,
 77474,
 77476,
 77477,
 77478,
 77479,
 77480,
 77484,
 77486,
 77488,
 77489,
 77493,
 77494,
 77498,
 77502,
 77503,
 77504,
 77505,
 77506,
 77510,
 77511,
 77514,
 77515,
 77517,
 77518,
 77520,
 77521,
 85714,
 77523,
 77522,
 77530,
 77531,
 77532,
 77535,
 77536,
 77539,
 77541,
 85737,
 77546,
 77545,
 77550,
 77551,
 77554,
 77555,
 28405,
 77562,
 77565,
 77566,
 77568,
 77571,
 77572,
 77573,
 77574,
 77575,
 77578,
 77581,
 77583,
 77584,
 77586,
 77587,
 77590,
 77591,
 77597,
 77598,
 77611,
 77612,
 77613,
 77619,
 77625,
 77626,
 77627,
 77630,
 77632,
 77640,
 77641,
 77642,
 77650,
 77651,
 77656,
 77657,
 77659,
 77662,
 77665,
 77701,
 77702,
 77703,
 77705,
 77706,
 77707,
 77708,
 77713,
 53218,
 77801,
 77802,
 77803,
 77806,
 77807,
 77808,
 86004,
 77833,
 45066,
 77834,
 77836,
 77840,
 77843,
 77845,
 77853,
 77856,
 77859,
 77864,
 77868,
 77871,
 77879,
 28734,
 77901,
 77904,
 28787,
 77954,
 77957,
 77962,
 77963,
 77964,
 77975,
 77979,
 77984,
 77995,
 78003,
 78006,
 45240,
 78009,
 78013,
 45246,
 78014,
 78015,
 45249,
 78017,
 78016,
 78022,
 78023,
 78026,
 78028,
 78029,
 78040,
 78041,
 78043,
 78045,
 37086,
 78046,
 78052,
 78055,
 78061,
 78063,
 78064,
 78065,
 78070,
 78071,
 78076,
 78101,
 78102,
 78104,
 78108,
 78109,
 78114,
 78118,
 78119,
 78121,
 78130,
 78131,
 78132,
 78133,
 78140,
 78148,
 78150,
 78154,
 78155,
 78160,
 78163,
 78164,
 53590,
 29016,
 37228,
 78201,
 78202,
 94587,
 78204,
 78205,
 78207,
 78209,
 78210,
 78211,
 78212,
 78213,
 78214,
 78215,
 78216,
 78217,
 78218,
 78219,
 78220,
 78221,
 78222,
 78223,
 78224,
 78225,
 78226,
 78227,
 78228,
 78229,
 78230,
 78231,
 78232,
 78233,
 78235,
 78237,
 78238,
 78239,
 78240,
 78242,
 78244,
 78245,
 78247,
 78248,
 78249,
 78250,
 78251,
 78252,
 78253,
 78254,
 78255,
 78256,
 78257,
 78258,
 78259,
 78260,
 78261,
 78263,
 78264,
 78266,
 37311,
 78278,
 70087,
 78288,
 29169,
 78332,
 78333,
 78336,
 78355,
 78357,
 ...}

In [12]:
# Instantiating the zipcode search engine
search = SearchEngine(simple_zipcode=True)

In [13]:
# Creating a dictionary and then lists to hold those lat/long values
zipcode_dict = {}
lats = []
longs = []

# Appending lat/long values to those lists
for zipcode in unique_zips:
    zipc = search.by_zipcode(zipcode)
    zipcode_dict[zipcode] = [zipc.lat, zipc.lng]
    lats.append(zipcode_dict[zipcode][0])
    longs.append(zipcode_dict[zipcode][1])

In [14]:
all_zips_df = pd.DataFrame.from_dict(zipcode_dict, orient='index', 
                                     columns=["LAT", "LONG"])

In [15]:
all_zips_df.reset_index(inplace=True)

In [16]:
all_zips_df.rename(columns={"index": "ZIP"}, inplace=True)

In [17]:
all_zips_df.head()

     ZIP    LAT    LONG
0  90249  33.90 -118.32
1  65801    NaN     NaN
2  33126  25.78  -80.30
3  33155  25.74  -80.31
4  74137  36.02  -95.94

In [53]:
all_zips_df.shape

(1375, 3)

In [18]:
none_zips = all_zips_df.loc[all_zips_df["LAT"].isna() == True]

In [20]:
# Instantiating our geolocator
geolocator = Nominatim(user_agent="LB_FIS_capstone", country_bias="us")

# Wrapping our geolocater in a rate limiter, to automatically add delays
# between requests - Nominatim (Open Street Maps) requests no more than one
# request per second
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

# Also adding a progress bar, to track
tqdm.pandas()

# Ignoring the depreciation warning, because we're using a rate limiter

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning:

`country_bias` argument of the Nominatim.__init__ is deprecated and will be removed in geopy 2.0. Use Nominatim.geocode(country_codes='us') instead.

In [21]:
found_zips = none_zips["ZIP"].progress_apply(geocode)

100%|██████████| 56/56 [01:24<00:00,  1.55s/it]

In [28]:
found_zips

1       (Springfield, Missouri, 65801, USA, (37.214781...
45      (Frisco, Texas, 75033, USA, (33.1640767078435,...
169                                                  None
170     (Dallas, Texas, 75266, United States of Americ...
174                                                  None
175                                                  None
195     (Mount Pleasant, Texas, 75456, USA, (33.154831...
198                                                  None
202     (Hopkins County, Texas, 75483, USA, (33.034417...
222     (Longview, Gregg County, Texas, 75608, USA, (3...
249                                                  None
286     (Angelina County, Texas, 75915, USA, (31.23825...
326     (Arlington, Texas, 76019, USA, (32.731541, -97...
353     (Palo Pinto County, Texas, 76068, USA, (32.863...
361                                                  None
399     (Denton, Texas, 76203, USA, (33.2095465000939,...
411     (Cooke County, Texas, 76241, USA, (33.60580673...
532     (Brown County, Texas, 76804, USA, (31.59304491...
551     (Tom Green County, Texas, 76902, USA, (31.5831...
665     (Houston, Texas, 77204, USA, (29.7214732007996...
666                                                  None
669                                                  None
671     (Escuela Elemental Nueva, Calle Lince, Dos Pin...
691                                                  None
693     (Montgomery County, Texas, 77353, USA, (30.191...
769                                                  None
783     (Galveston, Texas, 77555, USA, (29.31154768451...
790                                                  None
792                                                  None
808     (Orange County, Texas, 77626, USA, (30.2016279...
813                                                  None
834                                                  None
840     (Washington County, Texas, 77834, USA, (30.223...
843     (Bryan, Texas, 77843, USA, (30.6215876229427, ...
904     (Comal County, Texas, 78131, USA, (29.8008432,...
975                                                  None
977     (San Antonio, Texas, 78288, USA, (29.537367895...
980     (Jim Wells County, Texas, 78333, USA, (27.7265...
988     (Kleberg County, Texas, 78364, USA, (27.425943...
996     (Rockport, Texas, 78381, USA, (28.030076324812...
1014                                                 None
1021    (Brownsville, Texas, 78522, USA, (25.949204, -...
1062    (Trapelo Rd. @ Cherry Ln., Cherry Lane, Waltha...
1089    (Travis County, Texas, 78667, USA, (30.4218705...
1190                                                 None
1193    (Amarillo, Texas, 79120, USA, (35.179347615384...
1238    (Lubbock, Texas, 79409, USA, (33.5836035277411...
1249    (Lubbock, Texas, 79430, USA, (33.5922096666667...
1271    (Abilene, Texas, 79604, USA, (32.4520329730394...
1277    (Abilene, Texas, 79698, USA, (32.4755787142857...
1282                                                 None
1285    (Howard County, Texas, 79721, USA, (32.2683153...
1299    (Ector County, Texas, 79769, USA, (31.7545565,...
1319    (El Paso, Texas, 79913, USA, (31.9059, -106.55...
1331    (El Paso, Texas, 79968, USA, (31.766743297551,...
1363                                                 None
Name: ZIP, dtype: object

In [60]:
found_df = none_zips.copy()
found_df["LOC"] = found_zips

In [61]:
# This at least had more success.
found_df["LAT"] = found_df["LOC"].apply(
    lambda loc: loc.latitude if loc else None)
found_df["LONG"] = found_df["LOC"].apply(
    lambda loc: loc.longitude if loc else None)

In [62]:
# Still missing 19, alas
len(found_df.loc[found_df["LOC"].isna() == True])

19

In [39]:
still_missing = found_df.loc[found_df["LOC"].isna() == True]

In [43]:
# Literally all of these are in Texas, what's up with that
# Also I just googled these to fill in this dictionary
still_missing_dict = {
    75262: [32.7800, -96.8000],
    75376: [32.7100, -96.8400],
    75382: [32.8644, -96.7439],
    75461: [33.6605, -95.5515],
    75712: [32.3500, -95.3000],
    76097: [32.5393, -97.3292],
    77225: [29.6928, -95.4176],
    77238: [29.9200, -95.4400],
    77347: [30.0000, -95.2500],
    77522: [29.7698, -94.9694],
    77572: [29.6523, -95.0273],
    77574: [29.5100, -95.0900],
    77641: [29.8689, -93.9338],
    77806: [30.6717, -96.3438],
    78278: [29.5614, -98.5613],
    78427: [27.6956, -97.4148],
    79114: [35.1556, -101.8839],
    79710: [32.0632, -102.0376],
    73137: [35.4700, -97.5200]
}

In [56]:
still_missing_df = pd.DataFrame.from_dict(still_missing_dict, orient='index',
                                          columns=["LAT", "LONG"])
still_missing_df.reset_index(inplace=True)
still_missing_df.rename(columns={"index": "ZIP"}, inplace=True)

In [58]:
still_missing_df.head()

     ZIP      LAT     LONG
0  75262  32.7800 -96.8000
1  75376  32.7100 -96.8400
2  75382  32.8644 -96.7439
3  75461  33.6605 -95.5515
4  75712  32.3500 -95.3000

In [54]:
all_zips_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1375 entries, 0 to 1374
Data columns (total 3 columns):
ZIP     1375 non-null int64
LAT     1319 non-null float64
LONG    1319 non-null float64
dtypes: float64(2), int64(1)
memory usage: 32.3 KB

In [71]:
found_df.drop(columns="LOC", inplace=True)

In [72]:
found_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56 entries, 1 to 1363
Data columns (total 3 columns):
ZIP     56 non-null int64
LAT     37 non-null float64
LONG    37 non-null float64
dtypes: float64(2), int64(1)
memory usage: 4.2 KB

In [57]:
still_missing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 3 columns):
ZIP     19 non-null int64
LAT     19 non-null float64
LONG    19 non-null float64
dtypes: float64(2), int64(1)
memory usage: 536.0 bytes

In [75]:
found_df = found_df.append(still_missing_df, ignore_index=True)

In [76]:
found_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 3 columns):
ZIP     75 non-null int64
LAT     56 non-null float64
LONG    56 non-null float64
dtypes: float64(2), int64(1)
memory usage: 1.8 KB

In [78]:
found_df.dropna(how="any", inplace=True)

In [79]:
found_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56 entries, 0 to 74
Data columns (total 3 columns):
ZIP     56 non-null int64
LAT     56 non-null float64
LONG    56 non-null float64
dtypes: float64(2), int64(1)
memory usage: 1.8 KB

In [80]:
all_zips_df = all_zips_df.append(found_df, ignore_index=True)

In [81]:
all_zips_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1431 entries, 0 to 1430
Data columns (total 3 columns):
ZIP     1431 non-null int64
LAT     1375 non-null float64
LONG    1375 non-null float64
dtypes: float64(2), int64(1)
memory usage: 33.6 KB

In [82]:
all_zips_df.dropna(how="any", inplace=True)

In [83]:
all_zips_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1375 entries, 0 to 1430
Data columns (total 3 columns):
ZIP     1375 non-null int64
LAT     1375 non-null float64
LONG    1375 non-null float64
dtypes: float64(2), int64(1)
memory usage: 43.0 KB

In [84]:
data.head()

,REPORTER_NAME,REPORTER_ZIP,BUYER_NAME,BUYER_ZIP,DRUG_NAME,TRANSACTION_DATE,DOSAGE_UNIT
0,BELLCO DRUG CORP,11701,LONGHORN DRUG CO,75662,HYDROCODONE,2006-01-11,500.0
1,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2006-01-04,500.0
2,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2006-11-02,400.0
3,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2007-01-04,100.0
4,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2007-02-14,100.0

In [89]:
data = data.merge(all_zips_df, how="left", left_on="REPORTER_ZIP", right_on="ZIP")

In [90]:
data.head()

,REPORTER_NAME,REPORTER_ZIP,BUYER_NAME,BUYER_ZIP,DRUG_NAME,TRANSACTION_DATE,DOSAGE_UNIT,ZIP,LAT,LONG
0,BELLCO DRUG CORP,11701,LONGHORN DRUG CO,75662,HYDROCODONE,2006-01-11,500.0,11701,40.69,-73.41
1,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2006-01-04,500.0,11701,40.69,-73.41
2,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2006-11-02,400.0,11701,40.69,-73.41
3,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2007-01-04,100.0,11701,40.69,-73.41
4,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2007-02-14,100.0,11701,40.69,-73.41

In [91]:
data.rename(columns={"LAT": "REPORTER_LAT", "LONG": "REPORTER_LONG"}, 
            inplace=True)
data.drop(columns="ZIP", inplace=True)

In [92]:
data.head()

,REPORTER_NAME,REPORTER_ZIP,BUYER_NAME,BUYER_ZIP,DRUG_NAME,TRANSACTION_DATE,DOSAGE_UNIT,REPORTER_LAT,REPORTER_LONG
0,BELLCO DRUG CORP,11701,LONGHORN DRUG CO,75662,HYDROCODONE,2006-01-11,500.0,40.69,-73.41
1,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2006-01-04,500.0,40.69,-73.41
2,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2006-11-02,400.0,40.69,-73.41
3,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2007-01-04,100.0,40.69,-73.41
4,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2007-02-14,100.0,40.69,-73.41

In [93]:
data = data.merge(all_zips_df, how="left", left_on="BUYER_ZIP", right_on="ZIP")

In [94]:
data.head()

,REPORTER_NAME,REPORTER_ZIP,BUYER_NAME,BUYER_ZIP,DRUG_NAME,TRANSACTION_DATE,DOSAGE_UNIT,REPORTER_LAT,REPORTER_LONG,ZIP,LAT,LONG
0,BELLCO DRUG CORP,11701,LONGHORN DRUG CO,75662,HYDROCODONE,2006-01-11,500.0,40.69,-73.41,75662,32.4,-94.90
1,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2006-01-04,500.0,40.69,-73.41,77706,30.1,-94.17
2,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2006-11-02,400.0,40.69,-73.41,77706,30.1,-94.17
3,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2007-01-04,100.0,40.69,-73.41,77706,30.1,-94.17
4,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2007-02-14,100.0,40.69,-73.41,77706,30.1,-94.17

In [95]:
data.rename(columns={"LAT": "BUYER_LAT", "LONG": "BUYER_LONG"}, 
            inplace=True)
data.drop(columns="ZIP", inplace=True)

In [96]:
data.head()

,REPORTER_NAME,REPORTER_ZIP,BUYER_NAME,BUYER_ZIP,DRUG_NAME,TRANSACTION_DATE,DOSAGE_UNIT,REPORTER_LAT,REPORTER_LONG,BUYER_LAT,BUYER_LONG
0,BELLCO DRUG CORP,11701,LONGHORN DRUG CO,75662,HYDROCODONE,2006-01-11,500.0,40.69,-73.41,32.4,-94.90
1,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2006-01-04,500.0,40.69,-73.41,30.1,-94.17
2,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2006-11-02,400.0,40.69,-73.41,30.1,-94.17
3,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2007-01-04,100.0,40.69,-73.41,30.1,-94.17
4,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2007-02-14,100.0,40.69,-73.41,30.1,-94.17

In [98]:
data.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12108468 entries, 0 to 12108467
Data columns (total 11 columns):
REPORTER_NAME       12108468 non-null object
REPORTER_ZIP        12108468 non-null int64
BUYER_NAME          12108468 non-null object
BUYER_ZIP           12108468 non-null int64
DRUG_NAME           12108468 non-null object
TRANSACTION_DATE    12108468 non-null datetime64[ns]
DOSAGE_UNIT         12108468 non-null float64
REPORTER_LAT        12108468 non-null float64
REPORTER_LONG       12108468 non-null float64
BUYER_LAT           12108468 non-null float64
BUYER_LONG          12108468 non-null float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(3)
memory usage: 1.1+ GB

In [100]:
# Writing to a csv
data.to_csv(r"data/TX_Buyers_Shipment_Location_Data.csv", index=False)

In [101]:
# Sanity check
data_test = pd.read_csv("data/TX_Buyers_Shipment_Location_Data.csv")
data_test.head()

,REPORTER_NAME,REPORTER_ZIP,BUYER_NAME,BUYER_ZIP,DRUG_NAME,TRANSACTION_DATE,DOSAGE_UNIT,REPORTER_LAT,REPORTER_LONG,BUYER_LAT,BUYER_LONG
0,BELLCO DRUG CORP,11701,LONGHORN DRUG CO,75662,HYDROCODONE,2006-01-11,500.0,40.69,-73.41,32.4,-94.90
1,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2006-01-04,500.0,40.69,-73.41,30.1,-94.17
2,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2006-11-02,400.0,40.69,-73.41,30.1,-94.17
3,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2007-01-04,100.0,40.69,-73.41,30.1,-94.17
4,BELLCO DRUG CORP,11701,MALLEY'S PHARMACY,77706,HYDROCODONE,2007-02-14,100.0,40.69,-73.41,30.1,-94.17

In [102]:
data_test.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12108468 entries, 0 to 12108467
Data columns (total 11 columns):
REPORTER_NAME       12108468 non-null object
REPORTER_ZIP        12108468 non-null int64
BUYER_NAME          12108468 non-null object
BUYER_ZIP           12108468 non-null int64
DRUG_NAME           12108468 non-null object
TRANSACTION_DATE    12108468 non-null object
DOSAGE_UNIT         12108468 non-null float64
REPORTER_LAT        12108468 non-null float64
REPORTER_LONG       12108468 non-null float64
BUYER_LAT           12108468 non-null float64
BUYER_LONG          12108468 non-null float64
dtypes: float64(5), int64(2), object(4)
memory usage: 1016.2+ MB